
/*COLORS*/

:root{
    --background-color: #000;
    --font-color: #fff;
    --background-color-soft: #383838;

    --primary-color: #ff00ee;
    --color-accent: #ff71f6;
}

/*REUSABLE*/

p{
    color: var(--font-color);
    font-size: 0.938rem;
}

/*HEADER*/

.headerbox{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.headerimg{
    width: 30%;
}

.menuoptions{
    display: flex;
    list-style-type: none;
}

.menuitemtxt{
    margin-right: .5rem;
}

.menuitem{
    display: flex;
}

.actoritem:hover{
    cursor: pointer;
}

.playicon{
    size: 5rem;
}

/*BODY*/

.bodyindex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
}

.mainbody{
    background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color-soft) 51%, var(--background-color) 100%);
    width: 80%;
    height: 86vh;
}

.framemain{
    width: 100%;
    height: 100%;
    align-self: center;
}

/*ALLACTORS*/

.cards_container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,100fr);
    justify-content: center;
    align-items: center;
    padding: 5rem;
    grid-gap: 8px;
}

.cardviewactors{
    box-shadow: 0 4px 8px 0 var(--background-color-soft);
    transition: 0.3s;
    width: 60%;
    border-radius: 3rem 3 rem 0 0;
}

.allactorsportrait{
    width: 100%;
    height: 75%;
    border-radius: 3rem 3rem 0 0;
}

.cardview_text_container{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardviewactors:hover{
    box-shadow: 0 8px 16px 0 var(--color-accent);
}

/*DROPABLE*/

.dropreparto{
    display: none;
    position: absolute;
    background-color: var(--background-color-soft);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--background-color);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropreparto{
    display: block;
}

.dropdown{
    position: relative;
    display: inline-block;
}