/*COLORS*/

:root {
 
    --background-color: #0C3B2E;
    --background-color-soft: #BB8A52;

    --font-color: #ffffff;

    --barra: #0C3B2E;
    --slices-color: #eeb46277;
    --scroll-bar-hover: #ad814e;

    --primary-color: #f11e53;
    --color-accent: #f11e53;
    --color-play: #f71616;

    --color1: #0C3B2E;
    --color2: #e9bb7c;
    --color3: #f11e53;
}

/*REUSABLE*/

p {
    color: var(--font-color);
    font-size: .98rem;
    font-weight: 400;
    font-family: 'Segoe UI';

}

h1,
h2,
h3 {
    color: var(--font-color);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Segoe UI';
}

a {
    text-decoration: none;
}

/*HEADER*/

.headerbox {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--barra);
}

.headerimg {
    width: 30%;
}

.menuoptions {
    list-style-type: none;
    display: flex;

}

.menuitem {
    margin-right: .8rem;
    vertical-align: middle;
}


.menuitemtxt {
    display: block;
    display: table-cell;
    font-size: 1.2rem;
}

.menuitemtxt:hover{
    color: var(--color3);
}

.container_txticon {
    display: table;
    position: relative;
    color: var(--font-color)
}

.container_txticon:hover{
    color: var(--color3);
}

.playicon {
    display: block;
    width: 20%;
    text-align: center;
    display: table-cell;
}

.actormenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.broderickitem{
 background-color: var(--color1);
}

.haueritem{
 background-color: var(--color2);
}

.pfeifferitem{
 background-color: var(--color1);
}

.wooditem{
 background-color: var(--color2);
}

.mckernitem{
 background-color: var(--color1);
}

.actortxt {
    margin-right: 2.5rem;
}

.actortxt:hover{
    color: var(--color3);
}

.actoritem {
    width: 100%;
}

.actoritem:hover {
    cursor: pointer;
}

.icondown {
    color: var(--font-color);
    size: 2rem;
    background-color: var(--font-color)
}

/*DROPABLE*/

.dropreparto {
    display: none;
    position: absolute;
    background-color: var(--background-color-soft);
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px var(--background-color);
    z-index: 1;
}

.dropdown:hover .dropreparto {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*BODY*/

.bodyindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
}

.mainbody {

background: radial-gradient(circle, var(--background-color-soft) 0%, var(--background-color) 97%);
    width: 80%;
    height: 86vh;
}

.framemain {
    width: 100%;
    height: 100%;
    align-self: center;
}

/*INTRO*/

.introheader {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
}

.introheaderimg {
    width: 60%;

}

.intromainbody {
    width: 80%;
    display: flex;

}

.introtextbody {
    display: flex;
    flex-direction: column;
}

.introtext {}

.embedtrailer {
    margin: auto;
    width: 50%;
    height: auto;
}

.introimage {
    width: 15%;
}

/*ALLACTORS*/

.cards_container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 100fr);
}

.cardviewactors {
    margin-bottom: 2rem;
    border-radius: 3rem 3 rem 0 0;
    box-shadow: 0 4px 8px 0 var(--background-color-soft);
    transition: 0.3s;
    width: 60%;
}

.cardviewactors:hover {
    box-shadow: 0 8px 16px 0 var(--color-accent);
}

.allactorsportrait {
    width: 100%;
    height: 75%;
    border-radius: 3rem 3rem 0 0;
}

.cardview_text_container {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*ACTOR*/

.upperframe {
    display: flex;

}

.photoframe {
    width: 25%;
}

.actor_portrait {
    width: 100%;
}

.textframe {
    margin-left: 2rem;
}

.actor_text_name {

    font-size: 1.5rem;
    font-weight: 500;
}

.actor_text_born {}

.actor_text_nationality {
    font-size: .9rem;
}

.actor_text_films {}

.biodivframe {}

.actor_text_data {

    font-size: .92rem;
    text-align: justify;
}

/*IMAGES GALLERY*/

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.albumcontainer {
    position: relative;
    width: 60%;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.galleryimage {
    width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;

    margin-top: 20%;

    width: 2.5rem;
    height: 4rem;
    padding: 1rem;
    color: var(--font-color);
    background-color: var(--slices-color);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 5px 5px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--background-color)
}

/*BSO*/

.bsoheader {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
}

.bsoheaderimg {
    width: 60%;
}

.bsocompositorbody {
    display: flex;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50%;
}

.compositortextbody {
    text-align: justify;
    padding: 1rem;
}

.bsotitle {}

.bsotext {}

.bsoimg {
    width: 35%;
}

.powellimg {}

.cintaimg {}

.bsovideocontainer {
    width: fit-content;
    margin: auto;
}

.bsoembedvideo {
    width: 40rem;
    height: 30rem;
}

.bsocriticsbody {

    display: flex;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50%;
}

.criticstextbody {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.bsotitle {}

/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--background-color-soft);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}